// Color scheme
// Those mixins can be used to make a difference between dark mode and light mode
// You can change the default value when calling the mixins or by changing the default variables globally.

@use "variables";

@mixin color-scheme-dark {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}

@mixin color-scheme-light {
    @media (prefers-color-scheme: light) {
        @content;
    }
}