// Hyphens
// This mixin provides a hole bunch of settings. Sadly no browser provides all of them at the moment.
// You can change the default value when calling the mixins or by changing the default variables globally.

@use "variables";

@mixin _hyphens(
    $hyphens-limit-before,
    $hyphens-limit-after,
    $hyphens-limit-word,
    $hyphens-limit-lines,
    $hyphens-limit-last,
    $hyphens-limit-zone
) {
    hyphens: auto;
    hyphenate-limit-chars: $hyphens-limit-word $hyphens-limit-before $hyphens-limit-after;
    hyphenate-limit-lines: $hyphens-limit-lines;
    hyphenate-limit-last: $hyphens-limit-last;
    hyphenate-limit-zone: $hyphens-limit-zone;
}

@mixin hyphens(
    $only-if-fully-supported: variables.$typo-hyphens-only-if-fully-supported,
    $hyphens-limit-before: variables.$typo-hyphens-limit-before,
    $hyphens-limit-after: variables.$typo-hyphens-limit-after,
    $hyphens-limit-word: variables.$typo-hyphens-limit-word,
    $hyphens-limit-lines: variables.$typo-hyphens-limit-lines,
    $hyphens-limit-last: variables.$typo-hyphens-limit-last,
    $hyphens-limit-zone: variables.$typo-hyphens-limit-zone
) {
    @if ($only-if-fully-supported == true) {
        @supports (
            (hyphens: auto)
            and (hyphenate-limit-chars: $hyphens-limit-word $hyphens-limit-before $hyphens-limit-after)
            and (hyphenate-limit-lines: $hyphens-limit-lines)
            and (hyphenate-limit-last: $hyphens-limit-last)
            and (hyphenate-limit-zone: $hyphens-limit-zone)
        ) {
            @include _hyphens(
                $hyphens-limit-before,
                $hyphens-limit-after,
                $hyphens-limit-word,
                $hyphens-limit-lines,
                $hyphens-limit-last,
                $hyphens-limit-zone
            );
        }
    }
    @else {
        @include _hyphens(
            $hyphens-limit-before,
            $hyphens-limit-after,
            $hyphens-limit-word,
            $hyphens-limit-lines,
            $hyphens-limit-last,
            $hyphens-limit-zone
        );
    }
}