// Indent
// This one is set to 1rem per default.
// You can change the default value when calling the mixins or by changing the default variables globally.

@use "variables";

@mixin indent(
    $indent-first-element: variables.$typo-indent-first-element,
    $indent-value: variables.$typo-indent-value
) {
    @if (true == $indent-first-element) {
        text-indent: $indent-value;
    }
    @else {
        & + & {
            text-indent: $indent-value;
        }
    }
}