// Page break
// This one is disabled per default, so these mixins can be used if you want to prevent the break.
// You can change the default value when calling the mixins or by changing the default variables globally.

@use "variables";

@mixin page-break-before(
    $page-break-before: variables.$typo-page-break-before
) {
    page-break-before: $page-break-before;
}

@mixin page-break-inside(
    $page-break-inside: variables.$typo-page-break-inside
) {
    page-break-inside: $page-break-inside;
}

@mixin page-break-after(    
    $page-break-after: variables.$typo-page-break-after
) {
    page-break-after: $page-break-after;
}