// Here you find all variables in one place.
// The all have a default value which you can customize globally here and also
// when you call that mixin


// Balance ragged lines
    
    // How much longer the element should be
    $typo-balance-ragged-lines-value: 103% !default;


// Box decoration break
    
    // If the border should be closed or not, can be `sliced` or `clone`
    $typo-box-decoration-break: clone !default;


// Columns

    // The default column count. This one should be based on your layout and your gutter.
    $typo-column-count: 3 !default;

    // The default column gap.
    $typo-column-gap: 1rem !default;


// Hanging punctuation 
    
    // Which characters are targeted 
    $typo-hanging-punctuation: first last allow-end !default;


// Hyphens
    
    // If you want to use this mixin only if a browser supports all of those settings
    // This is not possible at the moment!
    $typo-hyphens-only-if-fully-supported: false !default;
    
    // How many characters should stay before or after a break
    $typo-hyphens-limit-before: 3 !default;
    $typo-hyphens-limit-after: 3 !default;
    
    // How many characters a word needs to get handles
    $typo-hyphens-limit-word: 6 !default;
    
    // How many lines following each other may contain hyphens
    $typo-hyphens-limit-lines: 3 !default;
    
    // If the last line may contain a hyphen
    $typo-hyphens-limit-last: always !default;
    
    // The width between the shortest and the longest line
    $typo-hyphens-limit-zone: 8% !default;


// Text indent
    
    // This value may be higher but shouldn't be less then 1rem because it'd be hard to recognize then
    $typo-indent-value: 1rem !default;
    
    // If the first element should also have an indent
    $typo-indent-first-element: false !default;


// Orphans and widows
    
    // Should be 2 or 3, a higher values doesn't make much sense 
    $typo-orphans-value: 2 !default;
    $typo-widows-value: 2 !default;


// Page break
    
    // Allowed values are `auto`, `always`, `avoid`, `left`, `right`, `inherit`
    $typo-page-break-before: avoid !default;
    $typo-page-break-inside: avoid !default;
    $typo-page-break-after: avoid !default;