// This file is for all lazy guys, that don't want or can use the SASS mixins.
// Include this file intro your project to use a CSS class for each SASS mixin,
// use the pre-compiled CSS file in the `dist` folder.
//
// Please note, that some of the mixins provide parameters to proper configure the stylesheets inside.
// By only using the simple CSS classes, you lose the ability to configure them.

@use "typography";

.balance-ragged-lines {
    @include typography.balance-ragged-lines();
}

.box-decoration-break {
    @include typography.box-decoration-break();
}

.color-scheme-dark {
    @include typography.color-scheme-light() {
        display: none;
    };
}

.color-scheme-light {
    @include typography.color-scheme-dark() {
        display: none;
    };
}

.columns {
    @include typography.columns();
}

.hanging-punctuation {
    @include typography.hanging-punctuation();
}

.hyphens {
    @include typography.hyphens();
}

.indent {
    @include typography.indent();
}

.keep-lines {
    @include typography.keep-lines();
}

.page-break-before {
    @include typography.page-break-before();
}

.page-break-inside {
    @include typography.page-break-inside();
}

.page-break-after {
    @include typography.page-break-after();
}